
    h1 {
  		color:steelblue;
  	}
  	img {
  		width: 400px;
  	}
  	#divId{
  		height: 600px;
  		width: 500px;
  		background: seashell;
  		margin: 50px;
         padding: 50px;
        border-color: silver;
         border-style: dotted;
  	}
  	span { 
  		font-size: 18px;
  	}
    